[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {editable = true, path = "."}
"wunderpy2" = "*"
pydux = "*"
configargparse = "*"
scapy = "*"
twisted = "*"

[dev-packages]
bpython = "*"

[requires]
python_version = "3.6"
